body {
    font-family: Arial, sans-serif;
    background-color: #00b7ba;
    margin: 0;
    padding: 0;
    text-align: center;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.logo
{
    width: 230px;
    height: 230px;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button {
  background-color: #00b7ba; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}


.button1 {
  background-color:grey; 
  color: white; 
  border: 2px solid black ;
}

.button1:hover {
  background-color: white;
  color: black;
}
.txt1 {
    color: white;
   
}
#txt2
{
    
   text-shadow: aliceblue 2px 2px 4px;
}
.img2
{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.btn1{
 background-color: aliceblue;
 border-radius: 10px;
 margin: 2px;
}
.container2
{
    width: 80%;
    height: auto;
    background-color: aliceblue;
    color:black;
    border-radius: 20px;
    padding: 3px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  
  background-color:aliceblue;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}